.footer svg {
  width: 3rem;
}
@media screen and (max-width: 1100px) {
  .service {
    display: none;
  }

  .foot-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .pages {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .footer .socials {
    gap: 1rem;
  }
  .footer {
    flex-direction: column;
    gap: 3rem;
    padding: 2rem 1rem;
  }

  .footer img {
    width: 60%;
  }

  .foot-text {
    font-size: 14px;
    line-height: 20px;
  }

  .contct {
    font-size: 20px !important;
  }
}
