.navbar nav ul .link-nav::after {
  content: '';
  height: 2px;
  width: 0;
  background-color: #f29daf;
  display: block;
  transition: 0.5s ease-in-out;
}

.navbar ul .link-nav:hover::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: #f29daf;
  display: block;
}

@media screen and (max-width: 960px) {
  .navbar {
    background-color: #ffffff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 50;
  }
  .navbar nav {
    position: absolute;
    background-color: #f1eaec;
    right: -150%;
    width: 60%;
    border: 0.5px solid #ffffff;
    top: 5rem;
    border-radius: 0.25rem 0 0 0.25rem;
    z-index: 60;
    display: none;
  }

  .navbar nav.isVisible {
    right: 0%;
    display: block;
  }

  .navbar nav ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    font-weight: 500;
  }

  .menu {
    display: block;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 560px) {
  .navbar .logo img {
    width: 100%;
  }
  .navbar nav {
    top: 3.5rem;
  }
}
