@media screen and (max-width: 960px) {
  .navbar nav {
    display: block;
    position: absolute;
    background-color: #f1eaec;
    right: -150%;
    width: 60%;
    border: 0.5px solid #ffffff;
    top: 4rem;
    border-radius: 0.25rem 0 0 0.25rem;
    transition: 0.5s ease-out;
    z-index: 60;
  }

  .navbar nav.isVisible {
    right: 0%;
  }

  .navbar nav ul {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    font-weight: 500;
  }

  .menu {
    display: block;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 560px) {
  .navbar .logo img {
    width: 100%;
  }

  .navbar {
    background-color: #ffffff;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 50;
  }
}
