.bg2 {
  min-width: 1800px;
}
input {
  border: 0.8px solid #dcdcdc;
  color: #5e5e5e;
}

input:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
  .reservation h2 {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 1rem;
  }
  .reservation p {
    font-size: 18px;
    line-height: 26px;
  }

  br {
    display: none;
  }

  .formulair {
    gap: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .formulair {
    flex-direction: column;
    gap: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .reservation h2 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 0.5rem;
  }

  .reservation .title p {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }

  .formulair input {
    width: 100%;
    font-size: 15px;
  }

  .formulair input:focus {
    outline: none;
  }

  .formulair input::placeholder {
    font-size: 14px;
  }

  .reservation button {
    font-size: 0.9rem;
    padding: 0.6rem 1.5rem;
  }

  .coordonees .info {
    font-size: 14px;
  }
}
