@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'manrope', sans-serif;
  max-width: 1560px;
  margin: 0 auto;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

button,
.btn {
  border: 0.8px solid transparent;
  transition: 0.4s ease-in-out;
}

button:hover,
.btn:hover {
  border-color: #f29daf;
  color: #83584f;
  background-color: transparent;
}

@media screen and (max-width: 1100px) {
  .home {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 460px) {
  .home {
    padding: 0 1rem;
  }
}
