.image-art img {
  width: 96vw;
  height: 450px;
  object-fit: cover;
}

.article-card {
  transition: 0.5s ease-in-out;
}
.article-card:hover {
  box-shadow: 2px 2px 5px #bf877e;
}

@media screen and (max-width: 1280px) {
  .articlesContent {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 1080px) {
  .articlesContent {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 850px) {
  .articlesPage h2 {
    font-size: 56px;
    line-height: 64px;
  }
  .reservation-art {
    padding: 0 1rem;
  }
}

@media screen and (max-width: 500px) {
  .article-top {
    padding: 0 1rem;
  }
  .articlesContent {
    padding: 0 1rem;
  }
  .articleDetail h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 1rem;
  }

  .share {
    padding: 0 1rem;
  }

  .share p {
    font-size: 1rem;
  }

  .image-art img {
    width: 100vw;
    height: auto;
  }

  .summary {
    font-size: 16px;
    line-height: 24px;
  }

  .intro-text,
  .conclu-text {
    font-size: 22px !important;
  }

  .intro p,
  .conclusion p {
    font-size: 16px;
    line-height: 24px;
  }

  .articlesPage h2 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 0.5rem;
  }

  .articlesPage .title p {
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .articlesPage img {
    width: 100%;
  }
}
